/* general */
.row {
  display: flex;
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* mobile view */
main {
  max-width: 575px;
  margin: auto;
  margin-top: 50px;
}

/* header and navbar */
.header-column-quarter {
  width: 25%;
}

.header-column-half {
  width: 50%;
}

.nav-column-third {
  width: 33.3%;
  margin: 0;
}

.header-bar-container,
.nav-bar-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.header-bar-container {
  top: 0;
}

.nav-bar-container {
  bottom: 0;
}

.header-bar,
.nav-bar {
  min-width: 100%;
  max-width: 575px;
  height: 50px;
}

.header-bar {
  border-bottom: 0.1px solid #e0e0e0;
}

.nav-bar {
  border-top: 0.1px solid #e0e0e0;
}

/* form and inputs */
.form-input,
.form-textarea {
  width: 250px;
  margin-bottom: 15px;
}

.location-input {
  width: 250px;
}

.autocomplete-dropdown-container {
  width: 250px;
}

.edit-date-month-select,
.edit-date-year-select {
  width: 140px;
}

.edit-date-day-select,
.edit-date-time-select {
  width: 80px;
}

.mdy-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 250px;
}

.set-date-form-radio-section,
.edit-date-form-radio-section {
  padding-top: 33px;
  padding-right: 5px;
}

.file-uploads-container {
  width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc(100% / 2);
}

.file-box-style {
  width: 120px;
  height: 120px;
  display: inline-flex;
  outline: none;
  background-color: white;
  margin-block: 5px;
}

/* ideas/upcoming */
.ideas-container,
.upcoming-container,
.past-dates-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 70px;
}

.idea-item,
.upcoming-item,
.date-item {
  flex-basis: 100%;
  margin: 10px 0;
  background-color: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.idea-item,
.upcoming-item {
  padding: 15px 20px;
}

.idea-item:hover,
.upcoming-item:hover {
  cursor: pointer;
}

.date-title {
  padding-bottom: 5px;
}

.desktop-edit-icon,
.desktop-edit-icon-label,
.desktop-calendar-icon,
.desktop-calendar-icon-label,
.date-description {
  display: none;
}

.date-item-with-image {
  position: relative;
  padding-top: 340px;
}

.image-container {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 319px;
}

/* modals */
.idea-box--modal,
.upcoming-box--modal,
.delete-box--modal,
.set-date-box--modal {
  width: 320px;
}

@media screen and (min-width: 768px) {
  main {
    max-width: 900px;
  }

  /* header and navbar */
  .header-column-half {
    width: 40%;
  }

  .nav-column-third {
    width: 25%;
  }

  .header-bar-container,
  .nav-bar-container {
    width: 50%;
    border-bottom: 0.1px solid #e0e0e0;
  }

  .header-bar-container {
    justify-content: flex-end;
  }

  .nav-bar-container {
    right: 0;
    top: 0;
    bottom: auto;
    justify-content: flex-start;
  }

  .header-bar,
  .nav-bar {
    min-width: 400px;
    height: 60px;
    border: none;
    padding-top: 5px;
    padding-bottom: 3px;
  }

  .header-bar {
    display: flex;
    justify-content: flex-start;
  }

  .nav-bar {
    display: flex;
    justify-content: flex-end;
  }

  /* form and inputs */
  .form-input,
  .form-textarea {
    width: 350px;
    margin-bottom: 25px;
  }

  .location-input {
    width: 350px;
  }

  .autocomplete-dropdown-container {
    width: 350px;
  }

  .edit-date-month-select {
    width: 140px;
  }

  .edit-date-year-select {
    width: 100px;
  }

  .edit-date-time-select {
    width: 120px;
  }

  .mdy-row {
    flex-wrap: nowrap;
    max-width: 350px;
  }

  .edit-date-form-radio-section {
    padding-right: 50px;
  }

  .file-uploads-container {
    width: 350px;
  }

  .file-box-style {
    width: 167px;
    height: 167px;
    margin-block: 8px;
  }

  /* ideas/upcoming */
  .ideas-container,
  .upcoming-container,
  .past-dates-container {
    width: 85%;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .idea-item,
  .upcoming-item,
  .date-item {
    flex-basis: 45%;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    position: relative;
    min-height: 180px;
  }

  .idea-item,
  .upcoming-item {
    padding-inline: 35px;
    padding-bottom: 50px;
  }

  .date-item {
    padding-bottom: 20px;
  }

  .idea-item:hover,
  .upcoming-item:hover {
    cursor: auto;
  }

  .date-title,
  .idea-address,
  .date-description {
    margin-bottom: 8px;
  }

  .upcoming-address,
  .date-address {
    margin-bottom: 3px;
  }

  .date-schedule {
    margin-bottom: 8px;
  }

  .desktop-edit-icon,
  .desktop-edit-icon-label,
  .desktop-calendar-icon,
  .desktop-calendar-icon-label,
  .date-description {
    display: block;
  }

  .date-item-with-image {
    position: relative;
    padding-top: 325px;
    height: 554px;
  }

  .image-container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 344px;
    height: 300px;
  }

  /* modals */
  .idea-box--modal,
  .upcoming-box--modal {
    width: 420px;
  }

  .date-box--modal {
    width: 500px;
  }
}
