.header-icon {
  font-size: 28px;
}

.header-title {
  font-size: 24px;
}

.nav-option-container {
  display: inline-flex;
  flex-direction: column;
}

.nav-icon {
  font-size: 24px;
}

.nav-label {
  font-size: 12px;
  display: inline;
}

.color-pink {
  color: #ff9fc2;
}

.background-white {
  background-color: white;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.header-icon:hover,
.nav-option-container:hover {
  cursor: pointer;
}
