body {
  background-color: #fafafa;
}

/* header */
.header-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon {
  font-size: 1.8rem;
}

.header-map-icon {
  font-size: 1.6rem;
}

.header-title {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

/* navbar */
.nav-option-container {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding-top: 0.3rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-label {
  font-size: 0.75rem;
  display: inline;
}

/* ideas/upcoming */
.empty-text {
  margin: auto;
  padding: 2.5rem 0;
}

.date-title,
.date-title--modal {
  font-size: 1.1rem;
}

.idea-address,
.upcoming-address,
.date-address,
.date-schedule,
.date-description,
.date-address--modal,
.date-schedule--modal,
.date-description--modal,
.date-schedule--mobile,
.date-description--mobile {
  font-size: 0.8rem;
}

.date-title--modal,
.date-schedule--modal,
.date-description--modal,
.date-schedule--mobile {
  margin-bottom: 0.5rem;
}

.upcoming-address,
.date-address {
  margin-bottom: 0.2rem;
}

.date-address--modal {
  margin-bottom: 0.3rem;
}

.date-description--mobile {
  margin-bottom: 1.1rem;
}

.map-marker-icon {
  font-size: 0.8rem;
  padding-right: 0.4rem;
}

.scheduled-calendar-icon {
  font-size: 0.8rem;
  padding-right: 0.4rem;
  padding-top: 0.5rem;
}

.desktop-idea-buttons,
.desktop-upcoming-buttons {
  margin-top: 0.5rem;
  position: absolute;
  bottom: 1.3rem;
  z-index: 5;
}

.desktop-edit-button-container,
.desktop-calendar-button-container {
  display: inline-flex;
  margin-right: 1.6rem;
}

.desktop-edit-icon,
.desktop-calendar-icon {
  padding-right: 0.3rem;
  align-self: center;
}

/* form and inputs */
.idea-form-title {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 1.3rem;
}

.idea-form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 0.6rem;
  position: relative;
}

.form-label {
  color: #5b5b5b;
  padding-left: 0.6rem;
}

.form-input,
.form-textarea,
.location-input,
.form-select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 1rem;
  padding: 0.3rem 0.75rem;
  margin-top: 0.2rem;
  background-color: white;
}

.location-input {
  position: relative;
}

.form-input::placeholder,
.location-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.autocomplete-dropdown-container {
  position: absolute;
  z-index: 5;
}

.suggestion-item {
  background-color: white;
  padding: 0.3rem 0.5rem;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
}

.suggestion-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.set-date-form-row {
  display: flex;
  justify-content: space-between;
}

.set-date-form-section {
  display: inline;
  margin-bottom: 1.3rem;
}

.set-date-form-radio-section {
  padding-top: 2.1rem;
}

.month-select {
  width: 130px;
}

.day-select {
  width: 70px;
}

.time-select {
  width: 87px;
}

.set-date-form-radio-container {
  display: inline;
  margin: 0 0.4rem;
  padding-left: 1.7rem;
  position: relative;
}

.form-radio-label {
  color: #5b5b5b;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-radio-input {
  height: 23px;
  width: 23px;
  position: absolute;
  left: 0;
  color: #ff9fc2;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: transparent;
}

.form-radio-input:hover {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.form-radio-input:checked {
  background-color: #ff9fc2;
  border: 1px solid #ff9fc2;
  box-shadow: inset 0 0 0 3px white;
}

.form-input:focus,
.form-input:hover,
.location-input:focus,
.location-input:hover,
.form-textarea:focus,
.form-textarea:hover,
.form-select:focus,
.form-select:hover {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* modals and buttons */
.form-buttons-container,
.delete-buttons-container--modal,
.set-date-buttons-container--modal {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.cancel-button,
.delete-button,
.cancel-button--modal {
  background-color: transparent;
  align-self: center;
  font-weight: 700;
}

.add-button,
.update-button,
.delete-button--modal,
.set-date-button--modal {
  background-color: #ff9fc2;
  color: white;
  font-weight: 600;
  padding: 0.3rem 0;
}

.add-button {
  padding-inline: 1.6rem;
}

.update-button,
.delete-button--modal,
.set-date-button--modal {
  padding-inline: 0.9rem;
}

.confirm-delete-text--modal {
  font-size: 1.1rem;
  padding: 0 0.6rem;
  margin-bottom: 1.9rem;
}

.delete-buttons-container--modal {
  width: 90%;
}

.edit-button-container--modal,
.calendar-button-container--modal,
.edit-button-container--mobile {
  display: flex;
  justify-content: center;
}

.edit-button--modal,
.calendar-button--modal,
.edit-button--mobile {
  width: 190px;
  border: none;
  padding: 0.5rem 0;
  margin-top: 0.9rem;
  background-color: rgb(239, 239, 239);
}

.calendar-button--modal {
  margin-top: 1.3rem;
  margin-bottom: 0.3rem;
}

.idea-edit-icon--modal,
.idea-calendar-icon--modal,
.idea-edit-icon--mobile {
  padding-right: 0.3rem;
  font-size: 0.8rem;
}

.idea-edit-label--modal,
.idea-calendar-label--modal,
.idea-edit-label--mobile {
  font-size: 0.9rem;
}

.set-date-text--modal {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}

.set-date-buttons-container--modal {
  margin-top: 0.4rem;
}

.background--modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  z-index: 15;
}

.modal {
  margin: auto;
  padding: 1.6rem 2.2rem;
}

.button {
  border: none;
  font-size: 1rem;
}

/* general */
.border-radius {
  border-radius: 8px;
}

.color-pink {
  color: #ff9fc2;
}

.color-medium-gray {
  color: #5b5b5b;
}

.color-dark-gray {
  color: rgba(0, 0, 0, 0.8);
}

.background-white {
  background-color: white;
}

.no-underline {
  text-decoration: none;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.date-error-message-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.error-message {
  color: #d70000;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.date-error {
  color: #d70000;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  position: absolute;
  bottom: 0;
}

.add-edit-error {
  margin-left: 0.3rem;
}

.header-icon:hover,
.header-map-icon:hover,
.nav-option-container:hover,
.button:hover,
.desktop-edit-button-container:hover,
.desktop-calendar-button-container:hover,
.edit-button--modal:hover,
.calendar-button--modal:hover,
.form-select:hover,
.form-radio-input:hover,
.date-item:hover,
.edit-button--mobile:hover {
  cursor: pointer;
}

.view-date-container--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.date-item--mobile {
  padding-top: 4.7rem;
  padding-inline: 2.5rem;

  /* margin: auto; */
}
