body {
  background-color: #fafafa;
}

.header-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon {
  font-size: 28px;
}

.header-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.nav-option-container {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding-top: 5px;
}

.nav-icon {
  font-size: 24px;
}

.nav-label {
  font-size: 12px;
  display: inline;
}

.idea-form-title {
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
}

.idea-form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  position: relative;
}

.form-label {
  color: #5b5b5b;
  padding-left: 10px;
}

.form-input,
.form-textarea,
.location-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  padding: 5px 12px;
  margin-top: 3px;
}

.location-input {
  position: relative;
}

.form-buttons-container {
  display: flex;
  justify-content: space-between;
}

.form-button {
  border: none;
  font-size: 16px;
}

.cancel-button,
.delete-button {
  background-color: transparent;
  align-self: center;
  font-weight: 700;
}

.add-button,
.update-button {
  border-radius: 8px;
  background-color: #ff9fc2;
  color: white;
  font-weight: 600;
  padding: 5px 0;
}

.add-button {
  padding-inline: 25px;
}

.update-button {
  padding-inline: 15px;
}

.form-input:focus,
.form-input:hover,
.location-input:focus,
.location-input:hover,
.form-textarea:focus,
.form-textarea:hover {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.form-input::placeholder,
.location-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.autocomplete-dropdown-container {
  position: absolute;
  z-index: 5;
}

.suggestion-item {
  background-color: white;
  padding: 5px 8px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
}

.suggestion-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.idea-title,
.idea-title--modal {
  font-size: 17px;
}

.idea-address,
.idea-description,
.idea-address--modal,
.idea-description--modal {
  font-size: 13px;
}

.idea-title--modal,
.idea-address--modal,
.idea-description--modal {
  margin-bottom: 8px;
}

.map-marker-icon {
  font-size: 12px;
  padding-right: 7px;
}

.desktop-idea-buttons {
  margin-top: 8px;
  position: absolute;
  bottom: 20px;
  z-index: 5;
}

.desktop-edit-button-container,
.desktop-calendar-button-container {
  display: inline-flex;
  margin-right: 25px;
}

.desktop-idea-edit-icon,
.desktop-idea-calendar-icon {
  padding-right: 5px;
  align-self: center;
}

.idea-background--modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  z-index: 15;
}

.idea-box--modal {
  margin: auto;
  background-color: white;
  border-radius: 8px;
  padding: 25px 35px;
}

.edit-button-container--modal,
.calendar-button-container--modal {
  display: flex;
  justify-content: center;
}

.edit-button--modal,
.calendar-button--modal {
  width: 190px;
  border-radius: 8px;
  border: none;
  padding: 8px 0;
  margin-top: 15px;
  background-color: rgb(239, 239, 239);
}

.calendar-button--modal {
  margin-top: 20px;
  margin-bottom: 5px;
}

.idea-edit-icon--modal,
.idea-calendar-icon--modal {
  padding-right: 5px;
  font-size: 13px;
}

.idea-edit-label--modal,
.idea-calendar-label--modal {
  font-size: 14px;
}

.header-icon:hover,
.nav-option-container:hover,
.form-button:hover,
.desktop-edit-button-container:hover,
.desktop-calendar-button-container:hover,
.edit-button--modal:hover,
.calendar-button--modal:hover {
  cursor: pointer;
}

.color-pink {
  color: #ff9fc2;
}

.color-medium-gray {
  color: #5b5b5b;
}

.color-dark-gray {
  color: rgba(0, 0, 0, 0.8);
}

.background-white {
  background-color: white;
}

.no-underline {
  text-decoration: none;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}
