body {
  background-color: #fafafa;
}

/* header */
.header-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon {
  font-size: 28px;
}

.header-map-icon {
  font-size: 26px;
}

.header-title {
  font-size: 24px;
  margin-bottom: 5px;
}

/* navbar */
.nav-option-container {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding-top: 5px;
}

.nav-icon {
  font-size: 24px;
}

.nav-label {
  font-size: 12px;
  display: inline;
}

/* ideas/upcoming/my-dates */
.empty-text {
  margin: auto;
  padding: 40px 0;
}

.date-title,
.date-title--modal {
  font-size: 17px;
}

.idea-address,
.upcoming-address,
.date-address,
.date-schedule,
.date-description,
.date-address--modal,
.date-schedule--modal,
.date-description--modal,
.date-schedule--mobile,
.date-description--mobile {
  font-size: 13px;
}

.date-title--modal,
.date-schedule--modal,
.date-description--modal,
.date-schedule--mobile {
  margin-bottom: 8px;
}

.upcoming-address,
.date-address {
  margin-bottom: 3px;
}

.date-address--modal {
  margin-bottom: 5px;
}

.date-description--mobile {
  margin-bottom: 17px;
}

.map-marker-icon {
  font-size: 12px;
  padding-right: 7px;
}

.scheduled-calendar-icon {
  font-size: 12px;
  padding-right: 6px;
  padding-top: 8px;
}

.desktop-idea-buttons,
.desktop-upcoming-buttons {
  margin-top: 8px;
  position: absolute;
  bottom: 20px;
  z-index: 5;
}

.desktop-edit-button-container,
.desktop-calendar-button-container {
  display: inline-flex;
  margin-right: 25px;
}

.desktop-edit-icon,
.desktop-calendar-icon {
  padding-right: 5px;
  align-self: center;
}

.view-date-container--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.date-item--mobile {
  padding-top: 75px;
  padding-inline: 40px;
}

.date-item-with-image {
  position: relative;
  padding-top: 340px;
}

.image-container {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 100%;
  height: 320px;
  overflow: hidden;
}

.image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* form and inputs */
.idea-form-title,
.date-form-title {
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
}

.idea-form-container,
.date-form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  position: relative;
}

.date-form-container {
  margin-bottom: 90px;
  min-height: fit-content;
}

.form-label {
  color: #5b5b5b;
  padding-left: 10px;
}

.form-input,
.form-textarea,
.location-input,
.form-select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 16px;
  padding: 5px 12px;
  margin-top: 3px;
  background-color: white;
}

.location-input {
  position: relative;
}

.form-input::placeholder,
.location-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.autocomplete-dropdown-container {
  position: absolute;
  z-index: 5;
}

.suggestion-item {
  background-color: white;
  padding: 5px 8px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
}

.suggestion-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.set-date-form-row {
  display: flex;
  justify-content: space-between;
}

.set-date-form-section {
  display: inline;
  margin-bottom: 20px;
}

.month-select,
.year-select {
  width: 140px;
}

.day-select,
.time-select {
  width: 80px;
}

.set-date-form-radio-container {
  display: inline;
  margin: 0 10px;
  padding-left: 30px;
  position: relative;
}

.form-radio-label {
  color: #5b5b5b;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-radio-input {
  height: 23px;
  width: 23px;
  position: absolute;
  left: 0;
  color: pink;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: transparent;
}

.form-radio-input:hover {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.form-radio-input:checked {
  background-color: #ff9fc2;
  border: 1px solid #ff9fc2;
  box-shadow: inset 0 0 0 3px white;
}

.file-input-box,
.file-input-placeholder {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.file-add-icon,
.file-image-icon {
  margin: auto;
  color: #b1b1b1;
  font-size: 34px;
}

.image-preview {
  object-fit: cover;
  overflow: auto;
}

.form-input:focus,
.form-input:hover,
.location-input:focus,
.location-input:hover,
.form-textarea:focus,
.form-textarea:hover,
.form-select:focus,
.form-select:hover,
.file-input-box:focus,
.file-input-box:hover {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* modals and buttons */
.form-buttons-container,
.delete-buttons-container--modal,
.set-date-buttons-container--modal {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.date-form-buttons {
  margin-top: 25px;
}

.cancel-button,
.delete-button,
.cancel-button--modal {
  background-color: transparent;
  align-self: center;
  font-weight: 700;
}

.add-button,
.update-button,
.delete-button--modal,
.set-date-button--modal {
  background-color: #ff9fc2;
  color: white;
  font-weight: 600;
  padding: 5px 0;
}

.add-button {
  padding-inline: 25px;
}

.update-button,
.delete-button--modal,
.set-date-button--modal {
  padding-inline: 15px;
}

.confirm-delete-text--modal {
  font-size: 18px;
  padding: 0 10px;
  margin-bottom: 30px;
}

.delete-buttons-container--modal {
  width: 90%;
}

.edit-button-container--modal,
.calendar-button-container--modal,
.edit-button-container--mobile {
  display: flex;
  justify-content: center;
}

.edit-button--modal,
.calendar-button--modal,
.edit-button--mobile {
  width: 190px;
  border: none;
  padding: 8px 0;
  margin-top: 15px;
  background-color: rgb(239, 239, 239);
}

.calendar-button--modal {
  margin-top: 20px;
  margin-bottom: 5px;
}

.idea-edit-icon--modal,
.idea-calendar-icon--modal,
.idea-edit-icon--mobile {
  padding-right: 5px;
  font-size: 13px;
}

.idea-edit-label--modal,
.idea-calendar-label--modal,
.idea-edit-label--mobile {
  font-size: 14px;
}

.set-date-text--modal {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.set-date-buttons-container--modal {
  margin-top: 7px;
}

.background--modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  z-index: 15;
}

.modal {
  margin: auto;
  padding: 25px 35px;
}

.button {
  border: none;
  font-size: 16px;
}

/* general */
.border-radius {
  border-radius: 8px;
}

.color-pink {
  color: #ff9fc2;
}

.color-medium-gray {
  color: #5b5b5b;
}

.color-dark-gray {
  color: rgba(0, 0, 0, 0.8);
}

.background-white {
  background-color: white;
}

.no-underline {
  text-decoration: none;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.date-error-message-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.error-message {
  color: #d70000;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.date-error {
  color: #d70000;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.3px;
  position: absolute;
  bottom: 0;
}

.add-edit-error {
  margin-left: 5px;
}

.header-icon:hover,
.header-map-icon:hover,
.nav-option-container:hover,
.button:hover,
.desktop-edit-button-container:hover,
.desktop-calendar-button-container:hover,
.edit-button--modal:hover,
.calendar-button--modal:hover,
.form-select:hover,
.form-radio-input:hover,
.date-item:hover,
.edit-button--mobile:hover,
.file-input-box:hover {
  cursor: pointer;
}
